<!-- Extent to Content Layout-->
{% extends "content/content_layout.html" %}

<!-- Loading Static Files -->
{% load static %}

<!-- Page Title -->
{% block title %} Notifications {% endblock title %}

<!-- CSS -->
{% block CSS %}

{% endblock CSS %}

<!-- Active Button -->
{% block btn_class %}
    {% if sidebar == 'notifications' %}
        btn-dark
    {% endif %}
{% endblock btn_class %}

<!-- Render Content to Layout -->
{% block second_column %}
    <h4 class="fw-bold">Notifications</h4>
    <input type="search" name="" id="" placeholder="Search Notifications" class="form-control mb-3">
{% endblock second_column %}

{% block third_column %}

{% endblock third_column %}

<!-- JS -->
{% block JS %}{% endblock JS %}